html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.btn-control {
    margin: 2%;
}

.btn-success {
    margin-right: 10%;
}

.resultArea {
    margin-top: 4%;
}

.error {
    color: #ff0025;
}

#simResult{
    font-size : 20px;
    color: #1dff1f;
}